<!-- embedded js inside html - allows us to pass variable in html and our nodejs can talk to fronted with ejs file -->
<!-- or get varialbes form backend to frontend -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
    <script src="scr`ipt.js"></script>
    <script>
        console.log("<%= roomId %>")
    </script>
</head>
<body>

    Yooooooooooooooo!!!
    
</body>
</html>