<!-- embedded js inside html - allows us to pass variable in html and our nodejs can talk to fronted with ejs file -->
<!-- or get varialbes form backend to frontend -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
    <link rel="stylesheet" href="style.css">
    
    <script>
        console.log("<%= roomId %>")
    </script>
</head>
<body>
    <div id="video-grid"></div>

    Yooooooooooooooo!!!

    <script src="script.js"></script>
    
</body> 
</html>